<%= render 'layouts/body' %>
<% @dayweek.each do |dayweek| %>
<div class = 'alert alert-info'>
    <div class="container">
      <div class="row">
            <div class="col-lg">
              <a href="<%= dayweek_path(dayweek) %>"><h2 class = 'display-4'><%= dayweek.brief %></h2></a>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-xs">
            <% if user_signed_in? %><br>                 
            <% if user_signed_in? %>  <%= link_to 'Редактировать', edit_dayweek_path(dayweek), {class: 'btn btn-secondary btn-sm'}  %><% end %>
            <% end %>
            </div>
          </div>
        </div>        
    </div>






<% end %>