<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1 class = "text-success">Добавление дня недели</h1>
     <br>
     <%= form_for :dayweek, url: dayweeks_path do |f| %>

         <p class = "text-success">Название дня недели</p>
         <%= f.text_field :brief, class: "form-control" %>
         <br>
         <%= f.submit 'Добавить день', class: "btn" %>

       <% end %>


  </div>
</div>
