<%= render 'layouts/body' %>
<div class='all-posts'>
<% @lesson.each do |lesson| %>
    <div class = 'alert alert-info'>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h5><%= lesson.brief %></h5>
        </div>
        <div class="col-xs">
          <%= link_to 'Редактировать...', edit_lesson_path(lesson), {class: 'btn btn-sm btn-outline-info'}  %>
        </div>
      </div>
    </div>
    </div>
<% end %>
</div>
