<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
<h1 class="my-0 mr-md-auto font-weight-bold" style="color: red">Расписание</h5>
<nav class="my-2 my-md-0 mr-md-3">
<span class="p-2 text-dark"></span>
<a class="p-2 text-dark" href="<%= dayweeks_path %>">Дни недели</a>
<a class="p-2 text-dark" href="<%= lessons_path %>">Предметы</a>
<a class="p-2 text-dark" href="<%= new_dayweek_path %>">Новый день</a>
<a class="p-2 text-dark" href="<%= new_lesson_path %>">Новый урок</a>
</div>
</nav>
<br>
