<%= render 'layouts/body' %>
<div class='all-posts'>
  <% @sheduler.each do |sheduler| %>
      <div class = 'alert alert-info'>
        
        
        <div class="container">
          <div class="row">
            <div class="col-sm">
                <%= sheduler.dayweek.brief %> <br>
            </div>
          <div class="col-8">
                <%= sheduler.lesson.brief %><br>
          </div>
          <div class="col-2">
            <% if user_signed_in? %>  
                <%= link_to 'Редактировать...', edit_sheduler_path(sheduler), {class: 'btn btn-sm btn-outline-info'}  %>
            <% end %>
          </div>
        </div>
      </div>
      </div>
  <% end %>
</div>