<%= render 'layouts/body' %>
<hr style="width: 100%; color: white; height: 5px; background-color:white;" />
<div class='all-posts'>
  <% @dayweeks.each do |dayweek| %>
  <h1 class="display-4"><%= dayweek.brief %></h1>
    <% dayweek.shedulers.each do |sheduler| %>
      <div class = 'alert alert-info'>
        <div class="container">
          <div class="row">
            <div class="col-2">
                <h2 class = 'display-4'><%= sheduler.lesson.brief %></h2>
            </div>
          <div class="col-sm">
          </div>
          <div class="col-2">
            <% if user_signed_in? %>  
                <%= link_to 'Редактировать...', edit_sheduler_path(sheduler), {class: 'btn btn-sm btn-outline-info'}  %>
            <% end %>
          </div>
        </div>
      </div>
      </div>
    <% end %>
  <% end %>
</div>